
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-460px * 5))}
}


.right-slider {
	background: transparent;
	margin: 0;
	height: 350px;
	overflow: hidden;
	position: relative;
	width: 80%;
	
	&::before,
	&::after {
		content: "";
		position: absolute;
		width: 200px;
		z-index: 2;
		height: 350px;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.right-slide-track {
		animation: scroll 20s linear infinite;
		display: flex;
        gap:25px;
		width: fit-content;
	}
	
	.right-slide {
		height: 350px;
		width:580px;
	}
}

.beachhack-slider-imgs{
	height: 350px;
	width:580px;
	object-fit: cover ;
}

@media (max-width:500px) {
	@keyframes scroll {
		0% { transform: translateX(0); }
		100% { transform: translateX(calc(-460px * 5))}
	}
	
	
	.right-slider {
		background: transparent;
		margin: 0;
		height: 250px;
		overflow: hidden;
		position: relative;
		width: 80%;
		
		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 200px;
			z-index: 2;
			height: 350px;
		}
		
		&::after {
			right: 0;
			top: 0;
			transform: rotateZ(180deg);
		}
	
		&::before {
			left: 0;
			top: 0;
		}
		
		.right-slide-track {
			animation: scroll 20s linear infinite;
			display: flex;
			gap:15px;
			width: fit-content;
		}
		
		.right-slide {
			height: 250px;
			width:480px;
		}
	}
	
	.beachhack-slider-imgs{
		height: 250px;
		width:480px;
		object-fit: cover ;
	}
}