.events{
    width: 100%;
    flex:content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 10% 25px 10% ;
  } 

  .events-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .events-div > img{
    width: 300px;
    height: 380px;
    object-fit:cover;
  }

  .event-btn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:25px 0 40px 0;
  }

  .event-btn{
    background-color: #183883;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .reach-us{
    background-color: lightgray;
    padding: 50px 0px 30px 0px;
  }

  .reach-us-inside{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      padding: 25px 0;
  }

  .reach-us-left{
    text-align: right;
  }

  .reach-us-right{
    text-align: left;
  }

  @media (max-width:900px){

    .events{
      width: 100%;
      padding: 0 10% 0 10%;
    }

    .events-div{
      width: 80%;
    }

    .reach-us-inside{
      flex-direction: column;
    }

    .reach-us-left{
      text-align: center;
    }
  
    .reach-us-right{
      text-align: center;
    }
  }