  .beachhack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .beachhack-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .beachhack-logo-img{
    height: 100px;
  }

  .BEACH-HACKATHON{
    color:black;
    font-size:40px; 
    font-weight:normal;
    line-height:1;
    margin: 0;
  }

  .BEACH-HACK-5{
    color:black;
    font-size:52px; 
    font-weight:bold;
    line-height: 1;  
    margin: 0;
  }

  .beachhack-paragraphs{
    display: flex;
    gap: 50px;
    padding: 50px 10%;
  }

  .beachhack-paragraphs > P {
    width: 50%;
  }
 
  @media (max-width:1200px) {    
    .beachhack-paragraphs{
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width:900px){
    .beachhack-title{
      flex-direction: column;
    }

    .BEACH-HACKATHON{
      color:black;
      font-size:30px; 
      font-weight:normal;
      line-height:1;
      margin: 0;
    }
  
    .BEACH-HACK-5{
      color:black;
      font-size:39px; 
      font-weight:bold;
      line-height: 1;  
      margin: 0;
    }

    .beachhack-paragraphs > P {
      width: 100%;
    }
}