.beachhack-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .beachhack-logo-img{
    height: 100px;
  }

  .BEACH-HACKATHON{
    color:black;
    font-size:40px; 
    font-weight:normal;
    line-height:1;
    margin: 0;
  }

  .BEACH-HACK-5{
    color:black;
    font-size:52px; 
    font-weight:bold;
    line-height: 1;  
    margin: 0;
  }

  .beachhack-paragraphs{
    display: flex;
    gap: 50px;
    padding: 50px 10%;
  }

  .beachhack-paragraphs > P {
    width: 50%;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 8));
    }
  }
  
  .beachhack-slider-container{
    width: 100%;
    padding: 0 10% 50px 10%;
  }

  .beachhack-slider {
    background: white;
    height: 300px;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  
  .beachhack-slide-track {
    -webkit-animation: scroll 15s linear infinite;
            animation: scroll 15s linear infinite;
    display: flex;
    gap: 20px;
    width: calc(250px * 14);
  }
  
  .beachhack-slider-imgs{
      height: 400px;
      width:640px;
  }
  
  @media (max-width:1200px) {    
    .beachhack-paragraphs{
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width:900px){
    .beachhack-title{
      flex-direction: column;
    }

    .BEACH-HACKATHON{
      color:black;
      font-size:30px; 
      font-weight:normal;
      line-height:1;
      margin: 0;
    }
  
    .BEACH-HACK-5{
      color:black;
      font-size:39px; 
      font-weight:bold;
      line-height: 1;  
      margin: 0;
    }

    .beachhack-paragraphs > P {
      width: 100%;
    }
}