.history{
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 100px 10% 50px 10%;
    font-size: large;
    min-height: 80vh;
}

.history > h1{
    font-weight: 500;
    color:#183883;
}

.history-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    background-color: aliceblue;
}