h1 {
    color:#183883;
    margin: 10px 0;
    font-weight: 500;
  }

  p{
    margin:0;
  }

  .spotlight{
    width:100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .spotlight > h1 {
    position:absolute;
    color: rgba(255 255 255 / 66%);
    font-size:6rem;
    font-weight: 600;
    text-align: center;
  }
  .Desktopview{
    display: block;
  }
  .Mobileview{
    display: none;
  }

  .spotlight-img{
    width:100%;
    height: 100vh;
    object-fit: cover;
  }
  
  .about-csi{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 10% 100px 10%;
    gap: 10%;
  }

  .about-csi-content{
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    width: 300px;
    padding: 20px 0;
  }

  .about-csi-content-img{
    height: 100%;
  }

  .about-csi-content-h1{
    margin: 0; 
    line-height: 1;
  }

  .about-csi-content-p{
      text-align: center;
      padding:0px 25px;
      font-size: large;
      line-height: 1.2;
  }

  @media (max-width:900px){
    .about-csi{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .spotlight > h1 {
      position:absolute;
      color: rgba(255, 255, 255, 0.404);
      font-size:2rem;
      font-weight: 600;
      text-align: center;
    }
    .Desktopview{
      display: none;
    }
    .Mobileview{
      display: block;
    }
}

@media (max-width:500px){
  .about-csi{
    gap:15px
  }

  .about-csi-content{
    padding: 0;
  }

  .about-csi-content-img{
    height: 80%;
  }

  .about-csi-content-h1{
    margin: 5px; 
    font-size:larger;
    line-height: 1;
  }

  .about-csi-content-p{
    text-align: center;
    padding:0px 25px;
    font-size: medium;
    line-height: 1.2;
  }
}
